@font-face {
  font-family: "HackNF";
  src: url("../fonts/HackNF/hack_bold_italic_nerd_font_complete_mono-webfont.woff2")
      format("woff2"),
    url("../fonts/HackNF/hack_bold_italic_nerd_font_complete_mono-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn {
  border-radius: 4px;
  background-color: #0164ee;
  border-color: #0144a2;
  border-width: 1px;
  color: #f0f0f0;
  line-height: 20px;
  font-family: HackNF;
}

.btn.selected {
  background-color: #f0f0f0;
  color: #0164ee;
  border-color: #a4a4a4;
  -webkit-box-shadow: inset 0px 0px 5px #f0f0f0;
  -moz-box-shadow: inset 0px 0px 5px #f0f0f0;
  box-shadow: inset 0px 0px 5px #f0f0f0;
}

.btn:hover {
  background-color: #f0f0f0;
  color: #0164ee;
  border-color: #a4a4a4;
}

.btn.btn-submit:hover {
  background-color: #f0f0f0 !important;
  color: #c50f1f;
  border-color: #a4a4a4;
}

.btn.form-btn.top-btn {
  background-color: #13a10e;
  border-color: #13a10e;
}

.btn.form-btn.top-btn:hover {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #13a10e;
}
