.card {
  /* Add shadows to create the "card" effect */
  background: #f0f0f0;
  box-shadow: 0 4px 8px 0 #a3a3a3;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #a3a3a3;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

@media (min-width: 992px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: "center";
  }
}

@media (max-width: 992px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    text-align: "center";
  }
}
