@font-face {
  font-family: "HackNF";
  src: url("./fonts/HackNF/hack_bold_italic_nerd_font_complete_mono-webfont.woff2")
      format("woff2"),
    url("./fonts/HackNF/hack_bold_italic_nerd_font_complete_mono-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.selected {
  color: red;
}

.btn {
  border-radius: 4px;
  background-color: #0164ee;
  border-color: #0144a2;
  border-width: 1px;
  color: #f0f0f0;
  line-height: 20px;
  font-family: HackNF;
}

.btn.selected {
  background-color: #f0f0f0;
  border-color: #a3a3a3;
  color: #0164ee;
}
