@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HackNF";
  src: url("./fonts/HackNF/hack_bold_italic_nerd_font_complete_mono-webfont.woff2")
      format("woff2"),
    url("./fonts/HackNF/hack_bold_italic_nerd_font_complete_mono-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
